In [1]:
import pickle
import joblib
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
model = joblib.load('loan_model_lr.pkl')

In [4]:
X=pd.read_csv('data/test.csv',delimiter=';',index_col=False)
X.head()

,sct,year,capitaux_propres,passifs_non_courant,total_bilan,stock,creance_client,actif_immobilier,resultat_net,chiffre_d_affaires
0,ABC ARBITRAGE,12.19,139902.0,2242.0,146354.0,230.0,6323.0,174.0,2872.0,18339.0
1,ACCOR,12.17,5826000.0,2768000.0,12076000.0,8000.0,403000.0,2302000.0,662000.0,481000.0
2,ACCOR,12.18,6443000.0,2760000.0,12975000.0,15000.0,617000.0,3053000.0,1183000.0,2284000.0
3,ACCOR,12.19,6978000.0,3281000.0,13904000.0,20000.0,649000.0,3049000.0,632000.0,485000.0
4,ACTIA GROUP,12.17,127451.0,97559.0,429273.0,108898.0,125065.0,47601.0,33326.0,8510.0

In [8]:
X['actif_courant'] = X['total_bilan'] - X['actif_immobilier']
X['passifs_courant'] = X['total_bilan'] - X['passifs_non_courant']
X['fonds_de_roulement'] = (X['capitaux_propres'] + X['passifs_non_courant'] ) - X['actif_immobilier']
X['besoin_en_fonds_de_roulement'] = (X['stock'] + X['creance_client']) - X['passifs_courant']
X['tresorie'] = X['fonds_de_roulement'] - X['besoin_en_fonds_de_roulement']
X['return_on_equity'] = X['resultat_net'] / X['capitaux_propres']
X['ratio_endettement'] = (X['total_bilan'] - X['capitaux_propres']) / X['total_bilan']
X['ratio_d_independance'] = X['capitaux_propres'] / X['passifs_non_courant']
X['ratio_de_couverture_des_emplois_stables'] = X['passifs_non_courant'] / X['actif_immobilier']
X['ratio_de_liquidite'] = X['actif_courant'] / X['passifs_courant']
X['taux_de_rentabilite'] = X['resultat_net'] / X['chiffre_d_affaires']

In [9]:
x_cols = [c for c in X.columns if c != "sct" and c!='year']

In [10]:
y_pred = model.predict(X[x_cols])

In [14]:
val = pd.DataFrame(y_pred, columns=['Status'])
val = val.replace({0:'Rejected', 1:'Approved'})
val

      Status
0   Rejected
1   Rejected
2   Rejected
3   Rejected
4   Rejected
5   Rejected
6   Rejected
7   Rejected
8   Rejected
9   Rejected
10  Rejected
11  Rejected
12  Rejected
13  Rejected
14  Rejected
15  Rejected
16  Rejected
17  Rejected
18  Rejected
19  Rejected